<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CommentMapper" >


  <resultMap id="BaseResultMap" type="com.baizhi.entity.Comment" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, score, content, createtime
  </sql>

  <!--根据订单id查看评价-->
  <select id="selectByOrderid" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from jw_comment
    where orderid=#{orderid}
  </select>

  <resultMap id="commentMap" type="com.baizhi.entity.Comment">
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="DOUBLE" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <association property="user" javaType="com.baizhi.entity.User">
      <id column="userid" property="id"/>
      <result column="name" property="name"/>
      <result column="phone" property="phone"/>
    </association>
  </resultMap>

  <!--根据律师id查看所有评价-->
  <select id="selectByLawerId" parameterType="java.lang.String" resultMap="commentMap">
    select o.lawerid lawerid,o.id,o.userid userid,u.name,u.phone,c.content,c.score,c.createtime
    from jw_order o
    join jw_user u
    on o.userid = u.id
    join jw_comment c
    on o.id = c.orderid
    where o.lawerid=#{lawerid}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jw_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jw_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.baizhi.entity.Comment" >
    insert into jw_comment (id, score, content, 
      createtime)
    values (#{id,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{content,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Comment" >
    update jw_comment
    set score = #{score,jdbcType=DOUBLE},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>


</mapper>