<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.LawertypeMapper" >

  <resultMap id="BaseResultMap" type="com.baizhi.entity.Lawertype" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, name
  </sql>

  <select id="selectByLawerId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select l.id,name
    from jw_lawertype l
    join jw_type_lawer tl
    on l.id=tl.lawertypeid
    where tl.lawerid=#{lawerid}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from jw_lawertype
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from jw_lawertype
    where id = #{id,jdbcType=VARCHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jw_lawertype
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.baizhi.entity.Lawertype" >
    insert into jw_lawertype (id, name)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Lawertype" >
    update jw_lawertype
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>